@import "tailwindcss";
@import "tailwindcss/utilities";

/* Custom utility: Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
@keyframes loading-bar {
  0% {
    left: -100%;
    width: 100%;
  }
  50% {
    left: 0%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

.animate-loading-bar {
  animation: loading-bar 4s linear forwards;
  position: absolute;
}
